/* ==========================================================================
   Main content
   ========================================================================== */
* {
	box-sizing: border-box;
}

body {
	background-color: color(main);

	@include media(0, tablet) {
		overflow: visible;
	}
}
.l-main {
	margin: 0;
}

.over {
	overflow: hidden;
}

